*{
  margin: 0;
  padding: 0;
}
.card-container {
  position: relative; /* Ensure the overlay is positioned relative to the card */
}

.custom-card {
  transition: transform 0.3s ease; /* Add a smooth zoom effect */
}

.card-container:hover .custom-card {
  background-color:rgba(55, 55, 138, 0.288);
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.card-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth fade-in effect */
  z-index: 10; /* Ensure the overlay is above the card */
}

.card-container:hover .card-overlay {
  opacity: 1; /* Show overlay on hover */

}